version: '3.8'

services:
  backend:
    build:
      context: ./projet_331
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - app.frontend-url=http://localhost:5173

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:8080
    ports:
      - "5173:80"
    depends_on:
      - backend
